@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500;600;700&display=swap');

/* 🔹 Fuente para el footer */
.footer {
  font-family: "REM", sans-serif;
}

.footer {
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer-top {
  background: linear-gradient(96deg, #000F9F 59%, #01103BEB 97%);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.footer-left img,
.footer-right img {
  height: 80px;
}

.footer-right p {
  color: white;
  font-size: 14px;
  margin: 10px 0 0;
}

.footer-right a {
  color: white;
  text-decoration: underline;
}

.footer-bottom {
  background: #544A4A;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  color: white;
  font-size: 18px;
  margin: 0 10px;
}

.footer-social a:hover {
  color: #ddd;
}

