/* Ajuste de altura para el slider */
.slick-slider {
  height: 390px !important;
}

.slick-list {
  height: 100% !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
  height: 100% !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

